
.blog header {
  background: url(../under-the-sea-assets/blog-header.jpg);
  color: #FFFFFF;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog header h1 {
  font-size: 4rem;
}
