
.blog header {
  background: url(../under-the-sea-assets/blog-header.jpg);
  color: #FFFFFF;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog header h1 {
  font-size: 4rem;
  // padding-top: 10vh;
  // padding-left: 25vw;
  padding-top: 10%;
  padding-left: 40%;
}
.blog main {
  background: $black-background;
}
.left-right {
  display: flex;
  width: 100%;
}
.left {
  color: #FFFFFF;
  padding-top: 50px;
  display: flex;
  width: 50%;
}
aside {
  display: flex;
  flex-direction: column;
  width: 80%;
}
aside img {
  // padding-top: 50px;
  box-shadow: 10px 0px $green-background;
}
aside h2 {
  font-size: 1rem;
}
aside p {
  padding: 20px 10px 60px 0;
}
.aside-text {
  background: $green-background;
  margin-right: -10px;
  margin-left: 15%;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 1.4rem;
}
aside ul {
  padding: 0 0 0 20px;
  line-height: 1.4rem;
}
aside li {
  list-style: disc;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}
.right {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
    h2 {
      font-size: 1.6rem;
      padding: 20px 0 5px 0;
    }
    
}
.right h1 {
  color: #FFFFFF;
  font-size: 4rem;
  position: absolute;
  top: -500px;
}
.first-pic {
  margin-left: 30px;
  box-shadow: -30px 30px $blue-frame;
  position: absolute;
  top: -400px;
}
.blog-story {
  color: #FFFFFF;
  padding-left: 40px;
  margin-top: 151px;
  line-height: 1.2rem;
  letter-spacing: 1px;
  border-left: 4px solid $blue-frame;
  border-bottom: 4px solid $blue-frame;
  p {
    padding: 0 20px 60px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
  }
  //possible addition?:
  // set a max height in case the story is long 
  // max-height: 800px;
  // overflow: auto;
  // this will allow scrolling without seeing the scroll bar 
  // scrollbar-width: none;
}
.text-1 p:first-child,
.text-2 p:first-child {
  padding-bottom: 20px;
}

//comments styles
.comments {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
    h2 {
      font-size: 1.6rem;
      padding: 20px 0 40px 0;
    }
}

.comment {
  display: flex;
  align-items: flex-start;
  img {
    width: 30%;
    height: 30%;
    padding-left: 10px;
  }
  p {
    padding: 0 20px 40px 20px;
    width: 100%;
  }
}




// form styles
.blog-form input,
.blog-form textarea {
  background: $black-background;
  border: none;
  color: #FFFFFF;
}
.blog-form fieldset {
  background: $black-background;
  border: 0;
  // padding: 60px 40px 40px 40px;
  margin: 20px 20px 60px 0;
}
.blog-form input {
  padding: 0 0 10px 20px;
  border-bottom: 1px solid $blue-frame;
}
.blog-form input:nth-child(2) {
  margin-right: 30px;
}
.blog-form textarea {
  padding: 20px 0 0 20px;
  border: 1px solid $blue-frame;
  margin-top: 30px;
}
form {
  display: grid;
  grid-template-columns: 50% 50%;
}
#name {
  grid-column: 1 / 2;
}
#email {
  grid-column: 2 / 3;
}
#message {
  grid-column: 1 / 3;
}
.blog-form input[type="submit"] {
  grid-column: 1 /3;
  background: $green-background;
  color: #FFFFFF;
  border: none;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 1rem;
}