// Media Queries

//max-width 1200px
@media(max-width: 1200px) {
  .first-pic{
    margin-left: 0;
    box-shadow: none;
    border-bottom: 3px solid $blue-frame;
    border-left: 3px solid $blue-frame;
    
  }
}
// max-width 1140
@media (max-width: 1140px) {
  header {
    height: 50vh;
  }
  .green-pic1 img,
  .green-pic2 img {
    box-shadow: none;
    border: 2px solid $blue-frame;
  }
  .green-pic1 img {
    margin-top: 30px;
  }
  .green-text1 {
  padding: 60px 0 60px 60px;
  }
  .green-text2 {
    padding: 60px 60px 60px 0;
  }
  .mid-info .info {
  padding: 40px 0 40px 0;
  }
  .profile-pic img {
    box-shadow: none;
    border: 2px solid $blue-frame;
  }
} 

// max-width 1025
@media(max-width: 1025px) {
  // index styles
  .green-with-pics {
    width: 100%;
    padding: 10px;
  }
  .green-text1 {
    padding: 20px 0 20px 20px;
    width: 90%;
  }
  .green-text2 {
    padding: 20px 20px 20px 0;
    width: 90%;
  }
  .gallery {
    padding: 10px;
  }
  .gallery-pics {
    padding: 20px;
    gap: 10px;
  }

  // contact styles
  .contact header {
    height: 50vh;
  }
  .contact-list {
    display: flex;
  }
  .icons {
    display: flex;
    flex-direction: column;
  }
  .contact i {
    padding: 0 0 28px 0;
  }
  .form-info {
    fieldset {
    box-shadow: none;
    }
    legend {
      font-size: 3rem;
      padding-bottom: 120px;
      margin: 0 auto;
    }
  }
  .contact .info {
    flex-direction: column-reverse;
    padding: 0;
  }
  form {
    grid-template-columns: 100%;
  }
  #name {
    grid-column: 1 / 2;
  }
  #email {
    grid-column: 1 / 2;
  }
  #message {
    grid-column: 1 / 2;
  }
  input {
    padding-left: 15px 0 10px 20px;
  }
  input:nth-child(2) {
    margin-right: 0;
  }
  input {
    padding: 20px 0 10px 20px;
  }

  .left {
    display: none;
  }
  .right {
    width: 100%;
    align-items: center;
    .blog-header {
      height: 35vh;
    }
    .first-pic {
      position: initial;
      border: 3px solid $blue-frame;
      margin: 30px 30px 0 30px;
      width: 80%;
    }
    .blog-story {
      // border: none;
      margin-left: 5px;
      padding-left: 20px;
      margin-top: 30px;
      p {
        padding: 0 20px 40px 0;
      }
    }
    h1 {
      top: -130px;
    }
  }
  .comment {
    flex-direction: column;
    img {
      padding-bottom: 10px;
    }
  }
  .blog-form {
    input:nth-child(2) {
      margin-right: 0;
    }
    fieldset {
      margin: 0;
    }
    input {
      padding: 20px 0 10px 20px;
    }
  }
 
}


// max-width 769
@media(max-width: 769px) {
  header img {
    display: none;
  }
  header h1 {
    font-size: 5rem;
    padding-left: 3rem;
  }
  .about-section {
    padding: 20px 0;
  }
  .about h2 {
    font-size: 1.6rem;
  }
  .green-with-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .green-top {
    flex-direction: column-reverse;
    align-items: center;
  }
  .green-bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .green-text1,
  .green-text2 {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .green-pic2 {
    padding-right: 0;
  }
  .green-pic2 img{
    margin-bottom: 20px;
  }
  .mid-info .info {
    grid-template-columns: 100%;
    padding: 40px 20px;
  }
  .profile-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-text {
    text-align: center;
    padding: 0;
  }
  .profile-pic {
    width: 80%;
    padding: 20px;
  }

   .form-info {
  margin-top: 20px 80px 80px 20px;
  margin-bottom: 0;
  width: 100%;
  margin-top: 20px;
  z-index: auto;
  padding-left: 20px;
  }
  // contact styles
  .contact header {
    height: 45vh;
  }

 
}

//max-width 481
@media(max-width: 481px) {
  header h1 {
    font-size: 4rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  nav a {
    font-size: .7rem;
    padding: 0;
  }
  // contact styles
  .form-info {
    padding-left: 0;
    padding-right: 0;
    legend {
      font-size: 1.6rem;
      padding-bottom: 80px;
    }
    fieldset {
      padding: 0 40px 40px 40px;
    }
  }
  // contact styles
  .contact header {
    height: 30vh;
  }
  //blog styles
  .blog-story {
    // line-height: 0.9rem;
    p {
      font-size: 0.8rem;
      line-height: 0.9rem;
    }
  }


}

//max-width 320
@media(max-width: 320) {

}

// this is used to solve an outlying problem where
// the img in the header obscures the nav at > 1600px
@media(min-width: 1600px) {
  header img {
  max-width: 35%;
  left: 65%;
  }
}