
// variables list
$blue-frame: #86E0F9;
$green-background: #0F614E;
$black-background: #0C1423;

// imports
@import "./setup";
@import "./contact";
@import "./blog";


// general styles
html {
  font-size: 125%;
  font-family: 'Barlow', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}
img {
  display: block;
  width: 100%;
  height: 0 auto;
}

h1,
h2,
h3,
p,
a,
i {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}



// nav styles
nav ul{
  display: flex;
  justify-content: flex-end;
}
nav li {
  padding: 10px;
}
nav {
  ul li:first-child {
    color: $blue-frame;
  }
}

//index header styles
header {
  
  background: url(../under-the-sea-assets/header-image.jpg);
  // background: $blue-frame;
  color: #FFFFFF;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
// .title-pic {
//   display: flex;
// }

// This trick comes courtesy of CSS expert Una Kravets.
//  A simple utility class, .full-width, will break the image out of it’s parent container using some negative margins, relative positioning, and the viewport width (vw) unit of measure.
// .full-width {
//   left: 5%;
//   // margin-left: -50vw;
//   margin-right: -10vw;
//   max-width: 80vw;
//   position: relative;
//   // right: 30%;
//   width: 100vw;
// }
header h1 {
  // display: inline-block;
  font-size: 6.9rem;
  width: 30%;
}
header img {
  max-width: 50%;
  position: absolute;
  bottom: -80px;
  left: 50%;
}



// contact header styles
// .contact-header {
//   background: url(../../under-the-sea-assets/contact-header.jpg);
//   color: #FFFFFF;
//   height: 75vh;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }






// about styles
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 2.1rem;
}
.about-section {
  background: $black-background;
  color: #FFFFFF;
  padding: 120px 0;
}
.about h2,
.profile h2 {
  padding: 10px 0;
}
.about p,
.profile p {
  padding: 0 0 20px 0;
}
.about a,
.profile a {
  background: $blue-frame;
  padding: 5px 10px;
  color: $black-background;
  font-size: 1rem;
}
.about p {
  width: 60%;
  text-align: left;
}
// green with pics section
.green-with-pics {
  background: $green-background;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.green-with-pics h2 {
  font-size: 1.6rem;
}
.green-with-pics a {
  background: $black-background;
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 1rem;
}
.green-right,
.green-left {
  display: flex;

}
.green-info1, 
 .green-info2 {
  display: flex;
  flex-direction: column;
}
// mid-info section styles
.mid-info {
  background: $black-background;
  color: #FFFFFF;
}
i {
  background: $blue-frame;
  color: $black-background;
  padding: 10px;
  border-radius: 50%;
  margin-right: 23px;
  font-size: 1rem;
}

.info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding: 160px 0 60px 0;
}
.info h2 {
  padding-left: 20px;
}
.info p {
  // padding-left: 80px;
  padding: 10px 0 40px 80px;
}
// profile section
.profile {
  background: $black-background;
  color: #FFFFFF;
}
.profile-content {
  display: flex;
}
.profile-content {
  background: $black-background;
  color: #FFFFFF;
  padding: 90px 0;
}
.profile-pic {
  width: 25%;
  box-shadow: 30px 30px $blue-frame;
}
.profile-info {
  width: 70%;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 80px;
}
.profile a {
  // display: inline;
}
.profile-info p {
  width: 80%;
  padding: 10px 0 30px 0;
}
// gallery styles
.gallery {
  background: $green-background;
  padding: 75px;
}
.gallery-pics {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  // grid-template-rows: 300px 300px;
  gap: 30px;
}

//footer styles
footer {
  background: $blue-frame;
  text-align: center;
  padding: 7px 0;
}