
// variables list
$blue-frame: #86E0F9;
$green-background: #0F614E;
$black-background: #0C1423;

// imports
@import "./setup";
@import "./contact";
@import "./blog";



// general styles
html {
  font-size: 125%;
  font-family: 'Barlow', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}
img {
  display: block;
  width: 100%;
  height: 0 auto;
}

h1,
h2,
h3,
p,
a,
i {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-weight: bold;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}



// nav styles
nav ul{
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}
nav li {
  padding: 10px;
}
ul a {
  color: #FFFFFF;
}
nav li:first-child {
  color: $blue-frame;
}
// nav {
//   li a:first-child {
//   color: $blue-frame;
//   }
// }

//index header styles
header {
  background: linear-gradient(to top, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.4)), url(../under-the-sea-assets/header-image.jpg);
  color: #FFFFFF;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
header h1 {
  font-size: 6.9rem;
  width: 30%;
}
header img {
  // display: block;
  max-width: 50%;
  position: absolute;
  bottom: -80px;
  left: 50%;
}


// about styles
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 2.1rem;
}
.about-section {
  background: $black-background;
  color: #FFFFFF;
  padding: 120px 0;
}
.about h2 {
  padding: 10px 0;
}
.about p {
  padding: 0 20px 20px 20px;
  text-align: center;
}
.about a {
  background: $blue-frame;
  padding: 5px 10px;
  color: $black-background;
  font-size: 1rem;
}
.about p {
  width: 90%;
  text-align: left;
}
// green with pics section
.green-with-pics {
  background: $green-background;
  color: #FFFFFF;
}
.green-with-pics h2 {
  font-size: 1.6rem;
}
.green-with-pics a {
  background: $black-background;
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 1rem;
}
.green-with-pics img {
  width: 100%;
}
.green-pic1 img{
  margin-top: -41px;
  box-shadow: 40px 40px $blue-frame;
}
.green-pic2 img{
  margin-bottom: -50px;
  box-shadow: -40px 40px $blue-frame;
}
.green-top,
.green-bottom {
  display: flex;
  // justify-content: space-between;
}
.green-bottom {
  justify-content: flex-end;
}
.green-top {
  justify-content: flex-start;
}
.green-text1, 
.green-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.green-text1 {
  padding: 60px 0 60px 180px;
  align-items: flex-start;
  text-align: left;
}
.green-text2 {
  padding: 60px 180px 60px 0;
  align-items: flex-end;
  text-align: right;
}
.green-text1 p, 
.green-text2 p {
  width: 70%;
  padding: 20px 0;
}


// mid-info section styles
.mid-info {
  background: $black-background;
  color: #FFFFFF;
}
.mid-info .info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding: 160px 0 60px 0;
}
.mid-info .info {
  padding-left: 20px;
}
i {
  background: $blue-frame;
  color: $black-background;
  padding: 10px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 1rem;
}
// pixel size adjustments to align these two logos
.community i {
  margin-right: 16px;
}
.blog i {
  margin-right: 26px;
}
.info h2 {
  padding-left: 20px;
}
.info p {
  padding: 10px 0 40px 80px;
}


// profile section
.profile {
  background: $black-background;
  color: #FFFFFF;
}
.profile-content {
  display: flex;
  background: $black-background;
  color: #FFFFFF;
  padding: 90px 0;
  padding-left: 20px;
}
.profile-pic img{
  width: 100%;
  box-shadow: 30px 30px $blue-frame;
  
}
.profile-text {
  width: 70%;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 20px 0 80px;
}
.profile-text h2 {
  font-size: 2.1rem;
  padding: 10px 0;
}
.profile-text p {
  width: 100%;
  padding: 10px 0 60px 0;
}
.profile a {
  background: $blue-frame;
  padding: 5px 10px;
  color: $black-background;
  font-size: 1rem;
}
// gallery styles
.gallery {
  background: $green-background;
  padding: 75px;
}
.gallery-pics {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 30px;
}

//footer styles
footer {
  background: $blue-frame;
  text-align: center;
  padding: 7px 0;
}

// Import media queries
@import "./media-queries";