
// variables list
$blue-frame: #86E0F9;
$green-background: #0F614E;
$black-background: #0C1423;

// imports
@import "sass/setup"
@import "sass/contact";
@import "sass/blog";


// general styles
html {
  font-size: 125%;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
a {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

// header styles
//index header styles
header {
  background: url(../../under-the-sea-assets/header-image.jpg);
  color: #FFFFFF;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // position: relative;
}
.title-pic {
  // display: flex;
}

// This trick comes courtesy of CSS expert Una Kravets.
//  A simple utility class, .full-width, will break the image out of it’s parent container using some negative margins, relative positioning, and the viewport width (vw) unit of measure.
// .full-width {
//   left: 5%;
//   // margin-left: -50vw;
//   margin-right: -10vw;
//   max-width: 80vw;
//   position: relative;
//   // right: 30%;
//   width: 100vw;
// }
header h1 {
  // display: inline-block;
  font-size: 6.9rem;
  width: 30%;
}
header ul{
  display: flex;
  justify-content: flex-end;
}
header li {
  padding: 10px;
}
header {
  ul li:first-child {
    color: $blue-frame;
  }
}
header img {
  max-width: 50%;
  // position: absolute;
  // bottom: -10px;
  // left: 50%;
}
//contact header styles
// .contact-header {
//   background: url(../../under-the-sea-assets/contact-header.jpg);
//   color: #FFFFFF;
//   height: 75vh;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
}






// about styles
.about {
    display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.about-section {
  background: $black-background;
  color: #FFFFFF;
}
.about a {
  background: $blue-frame;
  
}

