html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact header {
  background: url(../under-the-sea-assets/contact-header.jpg);
  color: #FFFFFF;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact main {
  background: #0C1423;
  color: #FFFFFF;
}

.contact h2 {
  font-size: 4rem;
}

.contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0 20px;
}

.contact i {
  padding: 0 0 15px 0;
}

.info-text a {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.info-text ul {
  padding-left: 0;
  line-height: 29px;
  letter-spacing: 1px;
}

.info-text li {
  font-weight: normal;
}

.contact-list i {
  font-size: 1rem;
  background: #0C1423;
  color: #FFFFFF;
}

.form-info {
  margin-top: -300px;
  margin-bottom: 100px;
  padding-right: 20px;
  width: 70%;
  z-index: 10;
}

input,
textarea {
  background: #0F614E;
  border: none;
  color: #FFFFFF;
}

.form-info fieldset {
  background: #0F614E;
  border: 0;
  -webkit-box-shadow: -30px 30px #86E0F9;
          box-shadow: -30px 30px #86E0F9;
  padding: 60px 40px 40px 40px;
  margin: 20px 0 60px 0;
}

legend {
  font-size: 4rem;
  padding-bottom: 120px;
  margin-left: -40px;
  margin-bottom: -75px;
}

input {
  padding: 0 0 10px 20px;
  border-bottom: 1px solid #86E0F9;
}

input:nth-child(2) {
  margin-right: 30px;
}

textarea {
  padding: 20px 0 0 20px;
  border: 1px solid #86E0F9;
  margin-top: 30px;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
}

#name {
  grid-column: 1/2;
}

#email {
  grid-column: 2/3;
}

#message {
  grid-column: 1/3;
}

input[type=submit] {
  grid-column: 1/3;
  background: #0C1423;
  color: #FFFFFF;
  border: none;
  padding: 10px 0;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1rem;
}

.blog header {
  background: url(../under-the-sea-assets/blog-header.jpg);
  color: #FFFFFF;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog header h1 {
  font-size: 4rem;
  padding-top: 10vh;
  padding-left: 25vw;
}

.blog main {
  background: #0C1423;
}

.left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.left {
  color: #FFFFFF;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

aside img {
  -webkit-box-shadow: 10px 0px #0F614E;
          box-shadow: 10px 0px #0F614E;
}

aside h2 {
  font-size: 1rem;
}

aside p {
  padding: 20px 10px 60px 0;
}

.aside-text {
  background: #0F614E;
  margin-right: -10px;
  margin-left: 15%;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 1.4rem;
}

aside ul {
  padding: 0 0 0 20px;
  line-height: 1.4rem;
}

aside li {
  list-style: disc;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  position: relative;
}
.right h2 {
  font-size: 1.6rem;
  padding: 20px 0 5px 0;
}

.first-pic {
  margin-left: 30px;
  -webkit-box-shadow: -30px 30px #86E0F9;
          box-shadow: -30px 30px #86E0F9;
  position: absolute;
  top: -400px;
}

.blog-story {
  color: #FFFFFF;
  padding-left: 40px;
  margin-top: 151px;
  line-height: 1.2rem;
  letter-spacing: 1px;
  border-left: 4px solid #86E0F9;
  border-bottom: 4px solid #86E0F9;
}
.blog-story p {
  padding-bottom: 60px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.text-1 p:first-child,
.text-2 p:first-child {
  padding-bottom: 20px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
}
.comments h2 {
  font-size: 1.6rem;
  padding: 20px 0 40px 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.comment img {
  width: 30%;
  height: 30%;
  padding-left: 10px;
}
.comment p {
  padding: 0 0 80px 20px;
  width: 100%;
}

.blog-form input,
.blog-form textarea {
  background: #0C1423;
  border: none;
  color: #FFFFFF;
}

.blog-form fieldset {
  background: #0C1423;
  border: 0;
  margin: 20px 0 60px 0;
}

.blog-form input {
  padding: 0 0 10px 20px;
  border-bottom: 1px solid #86E0F9;
}

.blog-form input:nth-child(2) {
  margin-right: 30px;
}

.blog-form textarea {
  padding: 20px 0 0 20px;
  border: 1px solid #86E0F9;
  margin-top: 30px;
}

.blog-form form {
  display: grid;
  grid-template-columns: 50% 50%;
}

.blog-form #name {
  grid-column: 1/2;
}

.blog-form #email {
  grid-column: 2/3;
}

.blog-form #message {
  grid-column: 1/3;
}

.blog-form input[type=submit] {
  grid-column: 1/3;
  background: #0F614E;
  color: #FFFFFF;
  border: none;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 1rem;
}

html {
  font-size: 125%;
  font-family: "Barlow", sans-serif;
}
html p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

img {
  display: block;
  width: 100%;
  height: 0 auto;
}

h1,
h2,
h3,
p,
a,
i {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
}

nav li {
  padding: 10px;
}

ul a {
  color: #FFFFFF;
}

nav li:first-child {
  color: #86E0F9;
}

header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.4))), url(../under-the-sea-assets/header-image.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.4)), url(../under-the-sea-assets/header-image.jpg);
  color: #FFFFFF;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header h1 {
  font-size: 6.9rem;
  width: 30%;
}

header img {
  max-width: 50%;
  position: absolute;
  bottom: -80px;
  left: 50%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.1rem;
}

.about-section {
  background: #0C1423;
  color: #FFFFFF;
  padding: 120px 0;
}

.about h2 {
  padding: 10px 0;
}

.about p {
  padding: 0 20px 20px 20px;
  text-align: center;
}

.about a {
  background: #86E0F9;
  padding: 5px 10px;
  color: #0C1423;
  font-size: 1rem;
}

.about p {
  width: 90%;
  text-align: left;
}

.green-with-pics {
  background: #0F614E;
  color: #FFFFFF;
}

.green-with-pics h2 {
  font-size: 1.6rem;
}

.green-with-pics a {
  background: #0C1423;
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 1rem;
}

.green-with-pics img {
  width: 100%;
}

.green-pic1 img {
  margin-top: -41px;
  -webkit-box-shadow: 40px 40px #86E0F9;
          box-shadow: 40px 40px #86E0F9;
}

.green-pic2 img {
  margin-bottom: -50px;
  -webkit-box-shadow: -40px 40px #86E0F9;
          box-shadow: -40px 40px #86E0F9;
}

.green-top,
.green-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.green-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.green-top {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.green-text1,
.green-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.green-text1 {
  padding: 60px 0 60px 180px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.green-text2 {
  padding: 60px 180px 60px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.green-text1 p,
.green-text2 p {
  width: 70%;
  padding: 20px 0;
}

.mid-info {
  background: #0C1423;
  color: #FFFFFF;
}

.mid-info .info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding: 160px 0 60px 0;
}

.mid-info .info {
  padding-left: 20px;
}

i {
  background: #86E0F9;
  color: #0C1423;
  padding: 10px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 1rem;
}

.community i {
  margin-right: 16px;
}

.blog i {
  margin-right: 26px;
}

.info h2 {
  padding-left: 20px;
}

.info p {
  padding: 10px 0 40px 80px;
}

.profile {
  background: #0C1423;
  color: #FFFFFF;
}

.profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0C1423;
  color: #FFFFFF;
  padding: 90px 0;
  padding-left: 20px;
}

.profile-pic img {
  width: 100%;
  -webkit-box-shadow: 30px 30px #86E0F9;
          box-shadow: 30px 30px #86E0F9;
}

.profile-text {
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0 20px 0 80px;
}

.profile-text h2 {
  font-size: 2.1rem;
  padding: 10px 0;
}

.profile-text p {
  width: 100%;
  padding: 10px 0 60px 0;
}

.profile a {
  background: #86E0F9;
  padding: 5px 10px;
  color: #0C1423;
  font-size: 1rem;
}

.gallery {
  background: #0F614E;
  padding: 75px;
}

.gallery-pics {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 30px;
}

footer {
  background: #86E0F9;
  text-align: center;
  padding: 7px 0;
}

@media (max-width: 1140px) {
  header {
    height: 50vh;
  }

  .green-pic1 img,
.green-pic2 img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 2px solid #86E0F9;
  }

  .green-pic1 img {
    margin-top: 30px;
  }

  .green-text1 {
    padding: 60px 0 60px 60px;
  }

  .green-text2 {
    padding: 60px 60px 60px 0;
  }

  .mid-info .info {
    padding: 40px 0 40px 0;
  }

  .profile-pic img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 2px solid #86E0F9;
  }
}
@media (max-width: 1025px) {
  .green-with-pics {
    width: 100%;
    padding: 10px;
  }

  .green-text1 {
    padding: 20px 0 20px 20px;
    width: 90%;
  }

  .green-text2 {
    padding: 20px 20px 20px 0;
    width: 90%;
  }

  .gallery {
    padding: 10px;
  }

  .gallery-pics {
    padding: 20px;
    gap: 10px;
  }

  .contact header {
    height: 50vh;
  }

  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact i {
    padding: 0 0 28px 0;
  }

  .form-info fieldset {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .form-info legend {
    font-size: 3rem;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .form-info {
    margin-top: 20px 80px 80px 20px;
    margin-bottom: 0;
    width: 100%;
    margin-top: 20px;
    z-index: auto;
    padding-left: 20px;
  }

  .contact .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
}
@media (max-width: 769px) {
  header img {
    display: none;
  }

  header h1 {
    font-size: 5rem;
    padding-left: 3rem;
  }

  .about-section {
    padding: 20px 0;
  }

  .about h2 {
    font-size: 1.6rem;
  }

  .green-with-pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .green-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .green-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }

  .green-text1,
.green-text2 {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .green-pic2 {
    padding-right: 0;
  }

  .green-pic2 img {
    margin-bottom: 20px;
  }

  .mid-info .info {
    grid-template-columns: 100%;
    padding: 40px 20px;
  }

  .profile-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .profile-text {
    text-align: center;
    padding: 0;
  }

  .profile-pic {
    width: 80%;
    padding: 20px;
  }

  .contact header {
    height: 35vh;
  }

  form {
    grid-template-columns: 100%;
  }

  #name {
    grid-column: 1/2;
  }

  #email {
    grid-column: 1/2;
  }

  #message {
    grid-column: 1/2;
  }

  input {
    padding-left: 15px 0 10px 20px;
  }

  input:nth-child(2) {
    margin-right: 0;
  }

  input {
    padding: 20px 0 10px 20px;
  }
}
@media (max-width: 481px) {
  header h1 {
    font-size: 4rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .form-info {
    padding-left: 0;
    padding-right: 0;
  }
  .form-info legend {
    font-size: 1.6rem;
    padding-bottom: 80px;
  }
  .form-info fieldset {
    padding: 0 40px 40px 40px;
  }
}
@media (min-width: 1600px) {
  header img {
    max-width: 40%;
    position: absolute;
    bottom: -80px;
    left: 60%;
  }
}